page {
	background-color: $page-bg-color;
}
// 字体颜色
.main-color {
	color: $main-color !important;
}
.main-bg {
	background-color: $main-color !important;
	color: #FFFFFF !important;
}
/* 状态条 */
.status-bar {
  height: var(--status-bar-height);
  width: 100%;
}

/* 上传图片 */
.upload {
	background-color: $light-main-color;
	width: 150rpx;
	height: 150rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	// opacity: .9;
	margin-left: 10rpx;
	.iconfont {
		color: #FFFFFF;
		// font-weight: 600;
		font-size: 60rpx;
	}
}

/* 加载中动画 */
.m-load {
	display: block;
	text-align: center;
	line-height: 3em;
}
.m-load.load-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0rpx;
	margin: auto;
	z-index: 99999;
	width: 260rpx;
	height: 260rpx;
	border-radius: 10rpx;
	background-color: #FFFFFF;
	box-shadow: 0 0 0rpx 2000rpx rgba(0,0,0,.2);
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	line-height: 2.4em;
	
	&::after {
		content: "";
		position: absolute;
		background-color: #ffffff;
		border-radius: 50%;
		width: 200upx;
		height: 200upx;
		font-size: 10px;
		border-top: 6upx solid rgba(0, 0, 0, 0.05);
		border-right: 6upx solid rgba(0, 0, 0, 0.05);
		border-bottom: 6upx solid rgba(0, 0, 0, 0.05);
		border-left: 6upx solid $main-color;
		animation: spin 1s infinite linear;
		z-index: -1;
	}
	
	.t-icon {
		width: 100rpx;
		height: 100rpx;
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
// 空白图标
.empty {
	width: 100%; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.empty-img {
		width: 300rpx;
		margin-top: 200rpx;
	}
	.empty-txt {
		font-size: 30rpx;
		line-height: 50rpx;
		color: $sec-font-color;
	}
}