/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
@import 'uview-ui/theme.scss';

// 颜色
$main-color: #ff7243;
$light-main-color: #ff897e;
$main-red-color: #ff1e40;
// $main-color: #fba806;
$male-color: #63bcfa;
$female-color: #f76e79;
$sec-font-color: #858585;
$page-bg-color: #eaeaea;
$level1: #b8b8ba;
$level12: #d9d9da;
$level2: #9996a7;
$level22: #bbb7cc;
$level3: #caa963;
$level32: #e8c172;
$level4: #8877e0;
$level42: #907ff0;
$level5: #333534;
$level52: #4c4f4d;


