.card-enter {
    opacity: 0;
    transform: scale(.6);
}
.card-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease 0s;
}
.card-enter-done {
    opacity: 1;
}
.card-exit {
    opacity: 1;
}
.card-exit-active {
    opacity: 0;
    transform: scale(.6);
    transition: all .3s ease 0s;
}
.card-exit-done {
    opacity: 0;
}