.div {
	outline: 0;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.li {
	list-style-type: none;
}

::-webkit-scrollbar {
	display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-size: 100%;
}


.iframe,
.frame,
.fieldset,
.img {
	border: 0 none;
}

.body,
.input,
.select,
.button,
.textarea {
	font-size: 15px;
	font-family: "Source Han Sans CN";
	background-color: #fff;
}

.a {
	text-decoration: none;
}

@media only screen and (min-width: 640px) {

	.webLeft,
	.webRight {
		background: #282828 none repeat scroll 0 0;
		display: block;
		height: 100%;
		position: fixed;
		top: 0;
		width: calc(50% - 400upx);
		z-index: 999;
	}

	.webLeft {
		left: 0;
	}

	.webRight {
		right: 0;
	}
}

/**********隐藏滚动条***********/

.hiddened {
	display: none;
}

/**********清除浮动***********/

.fixed:before,
.clearfix:before,
.cl:before,
body:before,
.header:before,
.main:before,
.footer:before,
.into_tabcon .img:before {
	content: '';
	display: table;
}

.fixed:after,
.clearfix:after,
.cl:after,
after,
.header:after,
.main:after,
.footer:after,
.into_tabcon .img:after {
	content: '';
	display: table;
	clear: both;
}

/**********输入框、按钮***********/

input::-webkit-input-placeholder {
	color: #333;
}

input:-moz-placeholder {
	color: #333;
}

input:-ms-input-placeholder {
	/* IE10+ */
	color: #333;
}

.ovfhiden {
	overflow: hidden;
	height: 100%;
}

button {
	cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=reset] {
	cursor: pointer;
}

input,
textarea,
button {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-border-radius: 0;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

input[type=radio] {
	-webkit-border-radius: 100%;
	-webkit-appearance: radio;
}

input[type=checkbox] {
	-webkit-appearance: checkbox;
}

input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

em,
cite,
address,
i,
samp {
	font-style: normal;
	font-family: "Source Han Sans CN";
}

uni-tabbar .uni-tabbar__icon {
	width: 40upx;
	height: 40upx;
}

.navigation.status-bar {
	width: 100%;
	z-index: 99998;
	position: fixed;
	top: 0;
}

.navigation.status-bar .goBack {
	position: absolute;
	font-size: 12pt;
	height: 44px;
	line-height: 44px;
}

.left-arrow1 {
	position: absolute;
	padding-left: 32upx;
	padding-right: 32upx;
}

.navigation.status-bar .goBack .img {
	content: "";
	display: inline-block;
	height: 10px;
	width: 10px;
	border-width: 0 0 2px 2px;
	border-color: #fff;
	border-style: solid;
	transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
	-webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
}

.navigation.status-bar .tabar {
	display: flex;
	justify-content: center;
	background: #fff;
}

.navigation.status-bar .tabar2 {
	background: transparent !important;
}

.navigation.status-bar .tabar2 text {
	color: #fff !important;
}

.navigation.status-bar .tabar text {
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 34upx;
}

.navigation.status-bar .tabar .active {
	color: #fff;
}

.navigation-bg-img {
	display: block;
}

.navRight {
	top: 25upx;
	right: 30upx;
	display: block;
	position: absolute;
}

.navRight .img {
	width: 43upx;
	height: 43upx;
	display: block;
}

.navRight .ind_search {
	float: left;
	margin-right: 20upx;
}

.navRight .ind_sysInfo {
	float: left;
}

.navRight .ind_sysInfo .img {
	width: 39upx;
}

.level_img {
	width: 30upx;
	height: 25upx;
	margin-left: 11upx;
	display: inline-block;
}

